html, body {
margin: 0;
padding: 0;
background-color: black;
}

body {
    margin-bottom: 50px;
}
.ui {
  position: fixed;
  bottom: 35px;
  left: 50px;
}
#canvas {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: calc(var(--vh) * 100);
}
#content-container {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}